.login{
    width: 30vw;
    height: 60vh;
    background-color: rgb(215, 209, 197);
    display: flex;
    flex-direction: column;
    gap: 10vh;
    border: 10px;
    border-radius: 10px;
    justify-content: center; 
    align-items: center; 
}
input{
    width: 20vw;
    height: 5vh;
    border: 10px;
    border-radius: 10px;
    border-color: rgb(59, 59, 59);
}
button{
    width: 12vw;
    height: 7vh;
    border-color: transparent;
    background-color: rgb(28, 27, 26);
    color: beige;
    font-size: medium;
    border: 10px;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(5, 6, 5);
    transition: 0.3s;
}
h1{
    justify-self: center;
}

b {
    color: red;
    justify-self: center;
}
nav b{
    color: beige;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background-color: rgb(28, 27, 26);
    height: 10vh;
    width: 100%;
    align-self:baseline;
    gap: 10vw;
    
}
#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}